<!--<html> -->
<div id="table"> 
        <%= link_to_function "Create Schema", {:id =>"btnCreateSchema"} %>  
<div id="createschema" style="display:none;">
		<% form_tag({:action => 'create_schema'}) do %>
		<fieldset>
			<%= label_tag :schema_name %>
 			<p><%= text_field_tag :schema_name,'' , :size => 25  %></p>
			<%= label_tag :schema_comments %>
  			<p><%= text_area_tag :schema_comments,'schema comments' ,:size => "22x4" %></p><br />
	                        
			<%= submit_tag 'Create Schema', :onclick => "check_create_schema(this.form);return false" -%>
		</fieldset>
		<% end %>
</div>
<% form_tag( :action => "del_schema" ) do %>
<table id="table" class="tablesorter"  border="0" cellspacing="0" cellpadding="0"> 
<thead> 
<% $schemas.each do |rows| %>
       <tr>
        <th><%= check_box_tag 'selAll', 'yes', false, :class => "selAll" %></th>
	<% rows.each do |column_name| %>
        <th name= "column_name"><%= h  column_name[0].upcase.gsub(/[_]/, ' ')  %></th> 
   	<% end %>
<% break end %>
       </tr> 

</thead>
<tbody> 
<% $schemas.each do |row| %>
       <tr> 
        <td><%= check_box_tag 'schemas[]',row['schema_name'] ,false, :class => "items", :id => row['schema_name'] %></td>
	<% row.each do |column| %>
        <% if column[0] == 'schema_name' %>
	<td id="schema"><%= h column[1] %></td>
		<% else %>
	<td><%= h column[1] %></td>	
		<% end %>
        <% end %>
       </tr>
<% end %>
</tbody> 
</table>
  <p><%= label_tag :cascade %>
  <%= check_box_tag :cascade %></p>
  <%= submit_tag("Drop Schema") %>
  <% end %> 
</div>



