<!--html -->
<div>
<%= link_to_function "Create Function", {:id =>"btnCreateTable"} %>  
<div id="createtable" style="display:none;">
		<% form_tag ({:action => "create_function"}) do  %>
		<fieldsetfunction>
			<%= label_tag :function_name %>
 			<p><%= text_field_tag :function_name,'' , :size => 31  %></p>
			<%= label_tag :returns %>
 			<p><%= select_tag :returns, options_from_collection_for_select(@types, :typec, :typec) %>
	    		<%= select_tag "returns_type", "<option> </option><option>[]</option>" %></p>
			<%= label_tag :arguments %>
			<table id="addarguments", border="1">
			<thead> 
			<tr>
			<th>Name</th>
			<th>Type</th>
			</tr>
			</thead>
			<tbody>
			 <tr> 
  			<td><%= text_field_tag 'arguments[]','' , :size => 15  %> </td> 
			<td><%= select_tag 'arguments_type[]', options_from_collection_for_select(@types, :typec, :typec) %><%= select_tag "arguments_type_of_type[]", "<option> </option><option>[]</option>" %></td>
		   	</tr>
			</tbody>
	                </table>
			<p><%= link_to_function "Add another arguments", {:id =>"btnAddArguments"} %> <%= link_to_function "Delete last arguments", {:id =>"btnDelArguments"} %></p>
			<%= label_tag :new_definition %>
			<p><%= text_area_tag :new_definition,'definition' ,:size => "43x6" %></p>
			<table><tbody><tr>
			<td><%= label_tag :execution_cost %>
			<p><%= text_field_tag :execution_cost,'100' , :size => 25  %></p></td>
			<td><%= label_tag :language %>
                        <p><%= select_tag :language, "<option>sql</option><option>plpgsql</option>" %></p></td>
			<td><%= label_tag :properties %>
                        <p><%= select_tag :properties, "<option>VOLATILE</option><option>IMMUTABLE</option><option>STABLE</option>" %></p></td>
			</tr></tbody></table>
			<%= label_tag :function_comments %>
  			<p><%= text_area_tag :function_comments,'comments' ,:size => "43x4" %></p><br />
			<%= submit_tag 'Create Function', :onclick => "check_create_function(this.form);return false" -%>
		</fieldsetfunction>
		<% end %>
</div>
<% if objectsfounds_functions? %>
<% form_tag( :action => "del_functions" ) do %>
<table id="table" class="tablesorter"  border="0" cellspacing="0" cellpadding="0">
<thead> 
<% @functions_list.each do |rows| %>
       <tr>
        <th><%= radio_button_tag 'selAll', 'yes', false, :class => "selAll" %></th>
	<% rows.each do |column_name| %>
        <th name= "column_name"><%= h  column_name[0].upcase.gsub(/[_]/, ' ')  %></th> 
   	<% end %>
<% break end %>
       </tr> 

</thead> 
<tbody> 
<% @functions_list.each do |row| %>
       <tr>
        <td><%= radio_button_tag 'functions[]',row['_function_name']+"("+row['argument']+")" ,false, :class => "items", :id => row['_function_name'] %></td>
	<% row.each do |column| %>
		<% if column[0] == '_function_name' %>
	<td id="function"><%= link_to column[1], {:id => row['_function_name']},{:href =>'/content_tool/function/'+$dbtype+$schematype+'?function='+row['_function_name']}%></td>
		<% else %>
	<td><%= h column[1] %></td>	
		<% end %>
        <% end %>
       </tr>
<% end %>
</tbody> 
</table>
  <%= submit_tag("Drop Function") %>
  <% end %> 
<% else %> 
<h4 id="objectnotfound" ><%= h "Objects Not Found" %></h4>
<% end %> 
</div>
