<!--html -->
<div id="table"> 
<%= link_to_function "Create Table", {:id =>"btnCreateTable"} %>  
<div id="createtable" style="display:none;">
		<% form_tag ({:action => "nexts_step"}) do  %>
		<fieldset>
			<%= label_tag :table_name%>
 			<p><%= text_field_tag :table_name,'' , :size => 25  %></p>
			<%= label_tag :number_of_column %>
 			<p><%= text_field_tag :number_of_column,'',:size => 25 %></p>
                        <%= label_tag :oids %>
                        <p><%= select_tag 'oids', "<option>TRUE</option><option>FALSE</option>" %></p>
			<%= label_tag :table_comments %>
  			<p><%= text_area_tag :table_comments,'comments' ,:size => "22x4" %></p><br />
	                        
			<%= submit_tag 'Nexts', :onclick => "check_create_table(this.form);return false" -%>
		</fieldset>
		<% end %>
</div>
<% if objectsfounds_table? %>
<% form_tag( :action => "del_tables" ) do %>
<table id="table" class="tablesorter"  border="0" cellspacing="0" cellpadding="0">
<thead> 
<% @tables_list.each do |rows| %>
       <tr>
        <th><%= check_box_tag 'selAll', 'yes', false, :class => "selAll" %></th>
	<% rows.each do |column_name| %>
        <th name= "column_name"><%= h  column_name[0].upcase.gsub(/[_]/, ' ')  %></th> 
   	<% end %>
<% break end %>
       </tr> 

</thead> 
<tbody> 
<% @tables_list.each do |row| %>
       <tr>
        <td><%= check_box_tag 'tables[]',row['table_name'] ,false, :class => "items", :id => row['table_name'] %></td>
	<% row.each do |column| %>
		<% if column[0] == 'table_name' %>
	<td id="table"><%= link_to column[1], {:id => row['table_name']},{:href =>'/content_tool/table/'+$dbtype+$schematype+'?table='+row['table_name']}%></td>
		<% else %>
	<td><%= h column[1] %></td>	
		<% end %>
        <% end %>
       </tr>
<% end %>
</tbody> 
</table>
<p><%= label_tag :cascade %>
  <%= check_box_tag :cascade %></p>
  <%= submit_tag("Drop Tables") %>
  <% end %> 
<% else %> 
<h4 id="objectnotfound" ><%= h "Objects Not Found" %></h4>
<% end %> 
</div>
