<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title>PostgreTool</title>
<%= stylesheet_link_tag "main", "treeview", "sorter" %>
<%= javascript_include_tag  "jquery", "cookie", "treeview", "tablesorter", "tableeditor", "application" %>
</head>
<body id="postgresql_tool">
			<div id="sidebar">
				<img src="/images/elephant.png"/>
				<img src="/images/railss.png"/>
			<h4><font color="#d0eb55">rorpg - Administration tools <br>for PostgreSQL database</font></h4>
			
			<%= render "db_browser" %>
			
			</div>
			<div id="menu">
			<%= render "dbmenu" %>
			</div>				
<div id="container">
			<div id="content">
				<font size="3" color="#d0eb55">Your Default Connection:</font>
                                <font color="#d0eb55"><label for="server_host" color="#d0eb55">Host:</font> <%= session[:host] %></label>
				<font color="#d0eb55"><label for="server_host">Hostname:</font>  <%= session[:name] %></label>
				<font color="#d0eb55"><label for="server_port">Port:</font>  <%= session[:port] %></label>
				<font color="#d0eb55"><label for="server_database">Database:</font>  <%= session[:database] %></label>
				<font color="#d0eb55"><label for="server_username">Username:</font>  <%= session[:username] %></label><br>

<font size="3" color="#d0eb55">Your System:</font><label for="server_version"> <%=h $versio -%></label>

			    <%= yield -%>
			<div id="notice"><%= h flash[:notice] %></div>
			</div>
			
		
</div>
</body>
</html>
